
@font-face {
  font-family: 'CNNSans';
    src: url('../fonts/CNNSansDisplay-Light.ttf');
}
body {
	font-family: "CNNSans", "Helvetica", "sans-serif";
	margin-bottom:20px;
}
table.table tr td {
	vertical-align: middle;
}
.alert {
	position:fixed;
	top:70px;
	right:30px;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.slide-enter {
	opacity:0.01;
	transform:translate(100px);
}
.slide-enter.slide-enter-active {
	opacity:1;
	transform:translate(0);
	transition:opacity 300ms, transform 300ms ease-in-out;
}
.slide-exit {
	opacity:1;
	transform:translate(0);
}
.slide-exit.slide-exit-active {
	opacity:0.01;
	transform:translate(100px);
	transition:opacity 300ms, transform 300ms ease-in-out;
}
