<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<base href="/utilities/weather_roll<%= htmlWebpackPlugin.options.destination %>/" />
		<title>CNNI Touch Weather Roll Admin</title>
	</head>
	<body>
		<div class='container-fluid'>
			<div id="app"></div>
		</div>
	</body>
</html>
